#divGlobal{
    display: flex;
    border: solid black 2px;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
}

body {
    background-color: grey;
}

#divComment {
    padding-top: 0.5%;
    flex: 20%;
    border: solid black 2px;
}

#divLogo {
    flex: 60%;
}

#divConnexion {
    padding-top: 2%;
    flex: 20%; 
    border: solid black 2px; 
}

button {
    height: 6em;
    width: 50em;
    background-color: #00C6B7;
}

.main {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#divMessage{
    width: 100%;
    display: flex;
    justify-content: center;
}

#msg {
    width: 20em;
}

#button{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    
}
button:hover{
    color: white;
}
