body {
    font-family: sans-serif;
    margin: 0;
}

#divGlobal{
    display: flex;
    border-bottom: solid black 2px;
    justify-content: space-between;
    text-align: center;
}

#divComment {
    padding-top: 0.5%;
    flex: 20%;
    border-right: solid black 2px;
    position: relative;
    display: inline-block;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover {
    color:rgb(209, 44, 58);
}
.dropDown {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDown p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropDown p:hover {
    color:rgb(209, 44, 58);
    border:solid;
    border-color: black;
    border-width: 1px;
}
#divLogo {
    flex: 60%;
}
#divConnexion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 20%; 
    border-left: solid black 2px;
}
a:hover{
    color:rgb(139, 30, 30);
}
#disconnectionBtn {
    background-color: rgb(209, 44, 58);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 12px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
}
#disconnectionBtn:hover{
    background-color:rgb(139, 30, 30);
}
#main{
    height: 91.5vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.formContainer {
    display: flex;
    align-items: center;
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
form {
    width: 1500px;
    height: 80%;
    display: flex;
    transition: .3s ease-in-out;
}
form button {
    background-color: rgb(209, 44, 58);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 12px;
    margin: 20px 30px 0 0;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-end;
    outline: none;
}
.textAreaContainer, .soundSelectionContainer, .sendMsgContainer {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#msgArea {
    width: 83%;
    height: 250px;
    border: 2px solid rgb(209, 44, 58);
    resize: none;
    outline: none;
    border-radius: 8px;
    padding: 2%;
    font-family: sans-serif;
}
.sendMsgBtn {
    margin: 0;
    width: 85%;
    height: 100%;
    align-self: center;
}
.radioContainer {
    display: flex;
    align-items: center;
    margin: 7px 0;
}
.radioContainer label {
    cursor: pointer;
}
.radioContainer input {
    opacity: 0;
    margin: 0;
    margin-right: -12px;
    cursor: pointer;
}
.radioContainer .checkmark {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}
.radioContainer input:checked ~ .checkmark {
    background-color: rgb(209, 44, 58);
    box-shadow: 0 0px 8px 0 rgba(209, 44, 58, .2), 0 0px 20px 0 rgba(209, 44, 58, .2)
}
.radioContainer input:last-child {
    opacity: 1;
}
.personalSound {
    visibility: hidden;
    width: 157px;
}
.personalSound:last-child {
    margin-top: -20px;
}
.personalSound::before {
    visibility: visible;
    content: '+ Importer une alerte';
    display: inline-block;
    background-color: rgb(209, 44, 58);
    padding: 9px 12px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}
.radioInputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 200px;
}
#param{
    display: none;
}
#success {
    display:none;
}
#how{
    display:none;
}
.show {
    display:block !important;
    width: 100%;
}
.showMenu {
    display:flex !important;
}

.darkModeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}
.darkModeContainer p {
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 70px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50px;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(209, 44, 58);
} 
input:checked + .slider:before {
    transform: translateX(28px);
}
.darkMode, 
.darkMode a{
    background-color: rgb(38, 41, 43);
    color: white;
}
.darkModeBtn {
    cursor: pointer;
}

.flexContent {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
}