a {
    text-decoration: none;
    color:  rgb(102, 0, 204);
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
}
.unclickableHamb {
    padding-right: 40px;
}
.closed {
    transform: translateX(-279px) !important;
}
.menuContainer ul li a{
    font-size: medium;
}