.panelContainer {
    width: 98%;
    height: 91vh;
    padding: 1vh 1%;
    display: flex;
}
.leftContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.websiteDataContainer {
    width: 97%;
    padding-left: 1%;
    height: 11%;
    margin: 1vh 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.websiteDataContainer div {
    margin-right: 50px;
    margin-top: 10px;
    line-height: 30px;
}
.websiteDataContainer .dataNumber {
    font-size: 40px;
    font-weight: bold;
}
.formsContainer {
    height: 43%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
}
form {
    width: 26.5%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
    border-radius: 6px;
}
form input {
    padding: 1%;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(102, 0, 204);
    outline: none;
    width: 98%;
}
form button {
    background-color: rgb(102, 0, 204);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    outline: none;
}
.createAccountForm h2 {
    justify-self: center;
    font-size: 18px;
    text-transform: uppercase;
}
.isAdminContainer {
    width: 100%;
    font-size: 15px;
}
.isAdminContainer input {
    width: inherit;
}
/* ACCOUNT LIST */
.accountsListContainer {
    width: 96%;
    height: 42%;
    margin: 1%;
    border-radius: 6px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
}
.accountsListContainer input {
    width: 30%;
    margin: 10px;
    padding: 7px 15px;
    outline: none;
    color: black !important;
    border: none;
    background-color: white;
    border-radius: 7px;
}
.accountsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.accountsListTitles {
    display: flex;
    width: 100%;
    opacity: .3;
    font-weight: normal;
    font-size: 15px;
}
.account{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, .2);
    margin-bottom: 10px;
    position: relative;
}
.accountEmail, .accountName, .tableEmail, .tableName {
    padding: 1vh 1%;
    width: 28%;
}
.accountPassword, .tablePassword {
    padding: 1vh 1%;
    width: 20%;
    overflow: hidden;
}
.accountAdmin, .tableAdmin {
    padding: 1vh 1%;
    width: 3%;
}
.binContainer {
    width: 3%;
    height: 100%;
    background-image: url('../img/blackBin.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
    right: 10px;
}
.messagesListContainer {
    position: absolute;
    width: 30%;
    height: 90%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3px;
    right: 0;
}
.messagesListContainer .messagesListTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.messagesListTitle h2 {
    margin-top: 10px;
}
.messagesListContainer #messagesListInput {
    width: 85%;
    margin: 10px;
    padding: 7px 15px;
    outline: none;
    color: black !important;
    border: none;
    background-color: white;
    border-radius: 7px;
}
.messagesList {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(198, 195, 200);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 147, 151);
}


.message {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 2% 0 1% 5%;
    margin-bottom: 1px;
    background-color: rgba(128, 128, 128, 0.1) !important;
}

.message .messageAuthor {
    font-weight: bold;
    font-size: 15px;
    background-color: transparent !important;
}
.message .messageBody {
    padding: 10px 0;
    font-size: 15px;
    background-color: transparent !important;
}

.message .msgTime {
    font-size: 12px;
    background-color: transparent !important;
    margin-bottom: 0.7px;
}
.msgContent {
    width: 93%;
    height: 100%;
    background-color: transparent !important;
}
.msgBinContainer {
    width: 23px;
    height: 30px;
    margin-right: 1%;
    background-color: transparent !important;
}
.messagesErrorMsg {
    /* opacity: .4; */
    width: fit-content;
    align-self: center;
    margin-top: 30px;
    font-size: 14px;
}
.accountErrorMsg {
    /* opacity: .4; */
    width: fit-content;
    align-self: center;
    margin-top: 50px;
    font-size: 14px;
}
.hidden {
    display: none;
}
.successMsg {
    font-size: 13px;
    color: green !important;
}
.errorMsg {
    font-size: 13px;
    color: red !important;
}