* {
    background-color: rgb(38, 41, 43);
    color: white !important;
}

/* MAIN */
.hambContainer span {
    background-color: white;
}
.formContainer{
    background-color: none !important;
}
.sendMsgContainer #voiceList {
    background-image: url('../img/whiteDownArrow.png');
}
.leftArrowContainer {
    background-image: url('../img/whiteLeftArrow.png');
}
.msgHistoryPanel {
    background-color :rgb(38, 41, 43);
}

/* ADMIN PANEL */
.binContainer {
    background-image: url('../img/whiteBin.png');
}
.messagesList .message:hover, .messagesList .message:hover .messageAuthor, .messagesList .message:hover .messageBody, .messagesList .message:hover .binContainer {
    background-color: rgb(49, 49, 49) !important;
}
