* {
    background-color: rgb(38, 41, 43);
    color: white !important;
}

/* MAIN */
.hambContainer span {
    background-color: white;
}
.formContainer{
    background-color: none !important;
}
.sendMsgContainer #voiceList {
    background-image: url('../img/whiteDownArrow.png');
}
.leftArrowContainer {
    background-image: url('../img/whiteLeftArrow.png');
}
.msgHistoryPanel {
    background-color :rgb(38, 41, 43);
}

::-webkit-scrollbar-track {
background: rgba(78, 78, 78, 0.1);
}

::-webkit-scrollbar-thumb {
background: rgb(31, 35, 36);
border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 24, 24);
  }

/* ADMIN PANEL */
.binContainer {
    background-image: url('../img/whiteBin.png');
}

