body {
    margin:0;   
    display:flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 8.5vh;
    position: relative; 
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
#logo{
    position: absolute;
    left: 30px;
    top: 10px
}
#divLogo h1 {
    transition: .3s;
}
#divLogo h1:hover {
    font-size: 35px;
}
.fontStyle{
    font-family: 'Comfortaa', cursive;
}
.darkModeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}
.darkModeContainer p {
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 70px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50px;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(102, 0, 204);
} 
input:checked + .slider:before {
    transform: translateX(28px);
}
.darkMode {
    background-color: rgb(38, 41, 43);
    color: white;
}
.darkModeBtn {
    cursor: pointer;
}
.formContainer {
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 300px;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
} 
form input {
    padding: 1%;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(102, 0, 204);
    outline: none;
    width: 98%;
}
.namesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.namesContainer input{
    width: 45%;
}
form button {
    background-color: rgb(102, 0, 204);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 12px;
    margin: 10px 0;
    width: 40%;
    cursor: pointer;
    font-size: 16px;
}
#registerBtn{
    color: white;
    outline: none;
}
.showPasswordContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    align-items: center;
}
.showPasswordContainer .checkbox {
    width: max-content;
    margin-right: 10px
}
.login{
    align-items: center;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}
a.btLogin{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(102, 0, 204);
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance:button;
    color:white;
}
form p {
    font-size: 12px;
}

form p a {
    color: rgb(102, 0, 204);
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}
form p a:hover {
    text-decoration: underline;
}
img{
    height:90px;
}
.successMsg {
    margin: 0;
    font-size: 13px;
    color: green !important;
}
.errorMsg {
    margin: 0;
    font-size: 13px;
    color: red !important;
}
.msgContainer {
    margin: 0;
}

/* EMAIL CONFIRMATION ALERT */
.emailConfirmationAlertContainer {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}
.emailConfirmationAlert {
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    position: relative;
}
.emailConfirmationAlert p {
    margin: 5px 0;
}
.emailConfirmationAlert .userEmail {
    font-weight: 600;
}
.closeImg {
    width: 15px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
