* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.settingsContainer {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontStyle{
    font-family: 'Comfortaa', cursive;
}

/* DARK MODE */
.darkModeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}
.darkModeContainer p {
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
}  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 70px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 8px;
    bottom: 5px;
    background-color: white;
    border-radius: 50px;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(102, 0, 204);
} 
input:checked + .slider:before {
    transform: translateX(45px);
}
.radioContainer img {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.darkMode, .darkMode a {
    background-color: rgb(38, 41, 43);
    color: white;
}
.darkModeBtn {
    cursor: pointer;
}

/* REBOOT PASSWORD */
.forgotPasswordContainer {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}
.forgotPassword {
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    position: relative;
}
#forgotPasswordInput {
    padding: 2% 3%;
    margin: 10px 0;
    border: none;
    border: 2px solid rgb(102, 0, 204);
    border-radius: 5px;
    outline: none;
    width: 94%;
}
.forgotPassword button {
    width: 100%;
    margin-top: 10px;
}
button {
    background-color: rgb(102, 0, 204);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-end;
    outline: none;
}
.closeImg {
    width: 15px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.msg {
    margin: 10px 0 15px 0;
    font-size: 13px;
    margin-bottom: -10px;
}
.successMsg {
    color: green !important;
}
.errorMsg {
    color: red !important;
}
