.menuContainer ul li a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}
.menuContainer ul {
    width: 90%;
}
.menuContainer {
    width: 33%;
}
.closed {
    transform: translateX(-340px) !important;
}
@media (max-width:768px){
    .menuContainer {
        width: 37%;
    }
}
@media (max-width:540px){
    a {
        text-decoration: none;
        color:  rgb(102, 0, 204);
        font-family: 'Comfortaa', cursive;
        font-size: x-large;
    }
    .unclickableHamb {
        padding-right: 40px;
    }
    .closed {
        transform: translateX(-279px) !important;
    }
    .menuContainer ul li a{
        font-size: medium;
    }
}
@media (max-width:414px){
    a {
        text-decoration: none;
        color:  rgb(102, 0, 204);
        font-family: 'Comfortaa', cursive;
        font-size: x-large;
    }
    .unclickableHamb {
        padding-right: 40px;
    }
    .closed {
        transform: translateX(-279px) !important;
    }
    #msgArea {
        width: 65%;
        height: 250px;
        border: 2px solid rgb(102, 0, 204);
        resize: none;
        outline: none;
        border-radius: 8px;
        padding: 2%;
        font-family: sans-serif;
        margin-right: 20%;
    }
    .formContainer {
        display: flex;
        align-items: center;
        width: 390px;
        height: 300px;
        overflow: hidden;
        box-shadow: 0 0 10px 3px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    form button {
        background-color: rgb(102, 0, 204);
        border-radius: 8px;
        border: none;
        color: white;
        font-weight: bold;
        padding: 7px 12px;
        margin: 20px 120px 0 0;
        cursor: pointer;
        font-size: 14px;
        align-self: flex-end;
        outline: none;
    }
    .getRewardsContainer {
        background: linear-gradient(
    221.06deg
    , #7F48B5 0%, #7F48B5 0.01%, #5F01BC 100%);
        padding: 0 30px;
        border-radius: 10px;
        position: absolute;
        bottom: 5%;
        left: 5%;
        display: flex;
        justify-content: space-around;
        height: 100px;
        cursor: pointer;
        color: white;
        margin-right: 20px;
    }
    .textAreaContainer span {
        width: 74px;
        position: absolute;
        right: 137px;
        top: 70%;
        transform: translateY(-50%);
        height: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        font-weight: bold;
        color: white;
        background: rgb(102, 0, 204);
        border-radius: 5px;
        text-align: center;
    }
    .size{
        font-size: medium;
    }
    .menuContainer ul li a{
        font-size: medium;
    }
    .radioInputContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 200px;
        margin-right: 22%;
    }
    div#responsive {
        margin-right: 22%;
    }
    .preview {
        margin-right: 22%;
    }
    p.fontStyle {
        margin-right: 22%;
    }
    select#voiceList {
        margin-right: 22%;
    }
    button.sendMsgBtn {
        width: 65%;
        margin-right: 22%;
    }
}
@media (max-width:379px){
    .unclickableHamb {
        padding-right: 20px;
    }
}
@media (max-width: 375px) {
    .unclickableHamb {
        padding-right: 5px;
    }
    .formContainer {
        width: 360px;
    }
    #msgArea {
        width: 63%;
        margin-right: 28%;
    }
    span.fontStyle {
        margin-right: 5%;
    }
    button.validMsgBtn {
        margin-right: 30%;
    }
    .rewardsTxt .getRewardsTxt {
        font-size: 17px;
    }
    .radioInputContainer {
        margin-right: 25%;
    }
    div#responsive {
        margin-right: 25%;
    }
    .preview {
        margin-right: 27%;
    }
    .preview p {
        font-size: 15px;
    }
    button.fontStyle {
        margin-right: 31%;
    }
    p.fontStyle {
        margin-right: 25%;
    }
    select#voiceList {
        margin-right: 25%;
    }
    button.sendMsgBtn {
        margin-right: 28%;
    }
}
@media (max-width: 320px) {
    .unclickableHamb {
        padding-right: 1px;
    }
    a{
        font-size: 20px;
    }
    #divConnexion {
        margin-right: 10px;
        margin-top: 4px;
    }
    #disconnectionBtn {
        padding: 5px 6px;
        font-size: 12px;
    }
    #userIcon {
        width: 27px;
    }
    .hambContainer {
        width: 25px;
        height: 10px;
    }
    .menuContainer ul li a {
        font-size: 15px;
    }
    .menuContainer {
        min-width: 74%;
    }
    .formContainer {
        width: 300px;
    }
    span.fontStyle {
        margin-right: 17%;
    }
    #msgArea {
        width: 52%;
        margin-right: 40%;
    }
    button.validMsgBtn {
        margin-right: 42%;
    }
    .getRewardsContainer {
        height: 14%;
    }
    .rewardsTxt .getRewardsTxt {
        font-size: 14px;
    }
    .radioInputContainer {
        margin-right: 36%;
    }
    div#responsive {
        margin-right: 36%;
    }
    .preview {
        margin-right: 39%;
    }
    .preview p {
        font-size: 13px;
    }
    button.fontStyle {
        margin-right: 43%;
    }
    p.fontStyle {
        margin-right: 40%;
    }
    select#voiceList {
        margin-right: 40%;
    }
    button.sendMsgBtn {
        margin-right: 40%;
        width: 51%;
    }
}
@media (max-width:280px){
    .menuContainer ul li a {
        font-size: 13px;
    }
    div#divLogo {
        width: 85px;
    }
    a {
        font-size: 17px;
    }
    .formContainer {
        width: 250px;
    }
    #msgArea {
        width: 39%;
        margin-right: 49%;
    }
    span.fontStyle {
        margin-right: 27%;
    }
    button.validMsgBtn {
        margin-right: 53%;
    }
    .radioInputContainer {
        margin-right: 49%;
    }
    .leftArrowContainer {
        margin-left: -2%;
        margin-top: -4%;
    }
    div#responsive {
        margin-right: 49%;
    }
    .preview {
        margin-right: 49%;
    }
    .preview p {
        font-size: 11px;
    }
    button.fontStyle {
        margin-right: 53%;
    }
    select#voiceList {
        width: 40%;
        margin-right: 50%;
    }
    p.fontStyle {
        margin-right: 50%;
    }
    button.sendMsgBtn {
        margin-right: 50%;
        width: 44%;
    }
}